/* FOOTER */
footer {
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    color: #777;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}
 
.footer-btn {
    display: inline-flex !important; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: #2054ff;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    text-decoration: none;
    width: auto !important;           
    max-width: fit-content !important;
    flex-grow: 0 !important;          
    flex-shrink: 0;                   
    margin: 0 auto;                   
}



.footer-btn:hover {
    background: #0047b3;
    transform: translateY(-2px);
}

.flecha {
    font-size: 18px;
}
