/* ---- PORTAFOLIO ---- */
.grid-proyectos {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 30px;
}

.card {
    background: #212327;
    border-radius: 14px;
    padding: 20px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.07);
    transition: transform 0.3s ease;
    color: #fff;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 7px 20px rgba(0,0,0,0.12);
}

.card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 14px;
}

.card h3 {
    margin-bottom: 10px;
}

.card a {
    color: #0066ff;
    font-weight: 600;
    text-decoration: none;
}