/* ---- SOBRE MI ---- */
.sobre-mi-container {
    max-width: 900px;
    margin: auto;
}

.sobre-mi-container h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.misproyectos{
    color: white;
    text-align:center; 
    margin-bottom:40px;
    font-size: 48px;
}
.sobre-mi-container p {
    font-size: 18px;
    color: #0065e9;
    margin-bottom: 16px;
}

.lista-detalles {
    margin-top: 25px;
    padding-left: 18px;
    color: #0065e9;
}

.lista-detalles li {
    margin-bottom: 12px;
}